
extends layout

block content
  header
    h1= `poetry message board`
  main
    div(class='left')
      div(class='newSubmission')
          p(class='instructions') Share a poem here.
          <form action="/new" method="post">
            input(type="text", name="title", placeholder="poem title")
            textarea(name="messageText", cols="28", rows="7") 
            div(class='formBottom')
              input(type="textarea", name="author",placeholder="author's name, year") 
              button(type="submit") ♡
          </form>
    div(class='right')
      div(class='topRight')
      div(class='messageContainer')
          each message in messages
            div(class = 'messageBubble')
              div= message.title
              div(style='white-space:pre;' class='poemText')= message.text
              div= `${message.author}`
    

